.table > thead > tr > th {
    background-color: #9368E9;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card .table tbody td:last-child, .card .table thead th:last-child {
    display: flex;
}

.flex-auto {
    flex: 1 1 auto;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 3%)
}

.form-control {
    border: 1px solid #b3b3b3
}

/* Radio */
.form-check-radio .form-check-sign::before {
    left: auto;
    top: auto;
    color: #9368E9;
}

.form-check .form-check-sign::before, .form-check .form-check-sign::after, .form-check .form-check-radio .form-check-sign::before {
    margin-top: 0;
    color: #9368E9;
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::after {
    left: auto;
    top: auto;
    color: #9368E9;
}

/* Main Color */
a, a:hover, a:focus {
    color: #9368E9;
}

.text-main {
    color: #9368E9 !important;
}

.bg-main {
    background-color: #9368E9 !important;
}

.btn-main.btn-fill {
    color: #FFFFFF;
    background-color: #9368E9;
    opacity: 1;
}

.btn-main.btn-fill:hover {
    color: #FFFFFF;
    background-color: #7C59C2;
    opacity: 1;
}

.btn-main {
    border-color: #9368E9;
    color: #9368E9;
}

.btn-main:hover {
    border-color: #7C59C2;
    color: #FFFFFF;
}

.btn.btn-fill:hover, .btn.btn-fill:focus, .btn.btn-fill:active, .btn.btn-fill.active, .open>.btn.btn-fill.dropdown-toggle {
    background-color: #7C59C2;
    color: #FFFFFF;
}

.alert-info {
    background-color: #9368E9;
}

/* Pagination */
.page-link {
    color: #9368E9;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #9368E9;
    border-color: #9368E9;
}

/* Pagination */

.fa-100 {
    width: 100px; font-size: 100px
}

.modal.modal-large .modal-dialog {
    max-width: 80%;
    margin: 0 auto;
}

.ck-editor__editable_inline {
    min-height: 200px;
}

li > button {
    background-color: #BBB9B9;
}

.webdings {
    font-family: 'webdings';
    font-size: 30px
}
